html {
    margin: auto;
    padding: auto;
}
body {
    font: 100% georgia, sans-serif;
    text-align: center;
    line-height: 2.88889;
    color: #555755;
    background: #fff url(./images/elephants.jpg);
    background-image: url(./images/black.jpeg);
}
h1 {
    color: ivory;
    text-align: center;
}
span {
    background: skyblue;
}
h4 {
    color: ivory;
    text-align: left;
}
p {
    color: ivory;
    text-align: left;
    padding: 0mm;
    margin: 0cm;
}

