html {
    margin: auto;
    padding: o;
    background-image: url('hd.jpg');
    background-size: cover;
}
.bg {
    /* The image used */
    background-image: url("hd.jpg");

    /* Full Height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    width: 100%;
    height: 900px;
    background-image: url('hd.jpg');
    background-size: cover;
}
body {
    font: 100% georgia, sans-serif;
    line-height: 2.88889;
    color: ivory;
    background: #fff url();
}
ul {
    text-align: left;
}
ol {
    text-align: left;
}
h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: rgb(144, 148, 144);
    font-weight: bolder;
    font-style: normal;
    text-align: center;
}
h3 {
    color: mintcream;
    font-style: italic;
    text-align: center;
}
p {
    font-family: sans-serif;
    text-align: left;
}
ul {
    line-height: 40px;
}
