html {
    margin: auto;
    padding: o;
}
body {
    font: 100% georgia, sans-serif;
    line-height: 2.88889;
    color: #555755;
    background: #fff url();
}

h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: green;
    font-style: italic;
    text-align: center;
}
p {
    font-family: sans-serif;
}
ul {
    line-height: 40px;
}